
.zsh/.zsh_sessions
.zsh/.zsh_history
.zsh/.zcompdump

# A leading "**" followed by a slash means match in all directories.
**/.DS_Store
# An asterisk "*" matches anything except a slash
**/#*
**/gnupg
# Ignore all symlinks in all folders
**/*~

**/auto-save-list/**
**/elpa/**
**/tutorial/**
**/cookies

